.course-card {
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
	padding: 24px;
	min-width: 250px;
	border-radius: 20px;
	justify-content: center;
	h4 {
		color: #000000;
	}
	h6 {
		color: green;
		font-size: 16px;
		font-weight: 800;
	}
	p {
		color: #000000;
		font-weight: 500;
	}

	span {
		color: #f4f4ff;
		font-weight: 600;
	}
}

.red {
	background: linear-gradient(180deg, #ff7b7b 100%, #dc999d 100%);
}

.green {
	background: linear-gradient(180deg, #6fcf97 100%, #b2e2cb 100%);
}

.purple {
	background: linear-gradient(180deg, #c585dd 100%, #d9bde9 100%);
}

.orange {
	background: linear-gradient(180deg, #fea85b 100%, #fbb982 100%);
}

.course-card-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.rating-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	padding: 4px 8px;
	border-radius: 10px;
	background-color: #f4f4ff;
}
.rating-stars {
	display: flex;
	flex-direction: row;
	gap: 2px;
}

.title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.subject {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.credits {
	opacity: 0.5;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.tag {
	padding: 4px 8px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

@media screen and (min-width: 1050px) {
	.course-card {
		min-width: 400px;
	}
}
