:root {
	--div-gap: 10px;
	--link-gap: 10px;
	--nav-top: 20px;
	--nav-padding: 16px 32px;
	--nav-background: rgba(244, 244, 255, 0.75);
	--nav-background-dark: rgba(13, 24, 33, 0.75);
	--border-radius: 20px;
	--link-color: 0, 0, 0;
	--link-color-dark: 244, 244, 255;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: var(--nav-top);
	width: 100%;
	z-index: 10;
}

nav {
	width: 80%;
	padding: var(--nav-padding);
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: var(--div-gap);
	border-radius: var(--border-radius);
	background: transparent;
	transition: 0.2s;

	& .logo {
		&:hover {
			scale: 1.05;
			transition: 0.2s ease;
		}
	}

	& .light-title {
		color: rgba(var(--link-color-dark), 1);
		&:hover {
			scale: 1.05;
			transition: 0.2s ease;
		}
	}

	& .light-school {
		color: rgba(var(--link-color-dark), 1);
	}

	& .links {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	& .link {
		color: rgba(var(--link-color), 0.5);
		padding: 0 var(--link-gap);
		transition: 0.2s;

		&:hover {
			color: rgba(var(--link-color), 1);
		}
	}

	& .light {
		color: rgba(var(--link-color-dark), 0.5);
		&:hover {
			color: rgba(var(--link-color-dark), 1);
		}
	}
}

nav.filled {
	background: var(--nav-background);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
}

nav.light {
	background: var(--nav-background-dark);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
	nav {
		& .link {
			color: rgba(var(--link-color-dark), 0.5);

			&:hover {
				color: rgba(var(--link-color-dark), 1);
			}
		}
	}

	nav.filled {
		background: var(--nav-background-dark);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(10px);
	}
}
