#root {
	margin: 0;
	padding: 0;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

.text {
	--text-speed: 0.2;
	animation: textAppear linear;
	animation-timeline: view();
	animation-range: 0% 25%;
}

.main {
	width: 100%;
	height: 100svh;
	min-height: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	background: url("/bg-wave-mobile.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;

	.left {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: start;
		padding: 0 40px;
		margin: 0 auto;
		text-align: center;
		animation: fade 0.2s linear;
		-webkit-animation: fade 0.2s linear;
	}
}

.main-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	gap: 10px;
	min-height: 189px;
}

#signup-button {
	view-transition-name: modal;
	contain: paint;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

#signup-button:hover {
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transform: scale(1.05);
}

#signup-button:active {
	box-shadow: none;
	cursor: pointer;
	transform: scale(0.95);
}

.modal-fields {
	view-transition-name: modal-fields;
}

::view-transition-old(modal),
::view-transition-new(modal) {
	animation: none;
	height: 100%;
	-webkit-clip-path: content-box;
	clip-path: content-box;
	z-index: 100;
	border-radius: 40px;
}

::view-transition-old(modal-fields),
::view-transition-new(modal-fields) {
	height: 100%;
}

.main .right {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	align-items: center;
	margin: 0 auto;
}

.main .icon {
	width: 60vw;
	max-width: 300px;
	height: auto;
	max-height: 50vh;
	animation: fade 0.2s;
	-webkit-animation: fade 0.2s;
}

.stats {
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	gap: 20px;
	justify-content: center;
}

.stats .left {
	display: flex;
	flex-direction: row;
	padding: 0 10%;
	gap: 10px;
	justify-content: center;
	text-align: center;
	color: rgba(0, 0, 0, 0.75);
}

.stats .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: fit-content;
	padding: 0 10%;
	text-align: start;
}

.glance {
	display: flex;
	padding: 40px 0;
	align-items: start;
	flex-direction: column;
	gap: 40px;
}

.graph {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-self: end;
	width: 100%;
}

hr {
	margin: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	display: flex;
	border-bottom: 6px dashed #00b85f;
	width: 100%;
	padding: 0;
	animation: expand linear;
	animation-timeline: view();
	animation-range: 0% 40%;
}

hr.curve {
	width: 50%;
	rotate: -45deg;
	transform-origin: bottom;
}

.glance-text {
	padding: 0 10%;
	max-width: 700px;
}

.glance-img {
	display: none;
}

.splash {
	margin: 0;
}

.unpack {
	width: 100%;
	padding: 40px 0;
	display: flex;
	flex-direction: column;

	justify-content: end;
}
.unpack-text {
	display: flex;
	flex-direction: column;
	text-align: end;
	justify-content: end;
	align-items: end;
	padding: 0 10%;
}

.splash-start,
.splash-end {
	display: block;
	width: 100%;
	animation: midWave linear;
	animation-timeline: view();
	animation-range: entry;
	fill: #7180ac;
	line-height: 0;
}

.courses {
	margin: 0;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #7180ac;
	gap: 40px;
	overflow-x: clip;
}

.courses-text {
	padding: 0 40px;
	--text-speed: -0.2;
	animation: textAppearSide linear;
	animation-timeline: view();
	animation-range: 0% 25%;
}

.course-cards {
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow-x: scroll;
	scrollbar-color: #f4f4ff transparent;
	scroll-snap-type: x mandatory;
	gap: 20px;
	padding: 0 40px 40px 40px;
}

.professors {
	margin: 0;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #7180ac;
	gap: 40px;
	overflow-x: clip;
}

.professors-text {
	padding: 0 40px;
	--text-speed: 0.2;
	text-align: start;
	animation: textAppearSide linear;
	animation-timeline: view();
	animation-range: 0% 25%;
}

.professor-cards {
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	gap: 20px;
	padding: 0 40px 40px 40px;
	scrollbar-color: #f4f4ff transparent;
}

#button-text {
	view-transition-name: button-text;
}

.center {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	gap: 40px;
}

.base-wave,
.primary-wave,
.secondary-wave,
.tertiary-wave {
	display: none;
}

.faq {
	padding-bottom: 40px;
}

.faq-container {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 20px;
}

.card {
	color: #000000;
	padding: 40px 30px;
	margin: 15px;
	border-radius: 0 40px 40px 40px;
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: start;
	gap: 20px;
	flex: 0 1 280px;
	background: linear-gradient(
		180deg,
		#eaeaff 0%,
		rgba(234, 234, 255, 0.5) 100%
	);
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);
	animation: textAppear linear;
	animation-timeline: view();
	animation-range: 0% 30%;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	--text-speed: 0.4;
}

.faq-bg {
	display: none;
}

.school {
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}

.school-text {
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 10px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.stars {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.star {
	height: 40px;
	width: auto;
	color: #e6af2e;
	animation: textAppear linear;
	animation-timeline: view();
	animation-range: 0% 30%;
}

.star:nth-child(1) {
	--text-speed: 0.1;
}

.star:nth-child(2) {
	--text-speed: 0.2;
}

.star:nth-child(3) {
	--text-speed: 0.3;
}

.star:nth-child(4) {
	--text-speed: 0.4;
}

.star:nth-child(5) {
	--text-speed: 0.5;
}

@media screen and (min-width: 1050px) {
	.main {
		position: relative;
		flex-direction: row;
		align-items: center;
		width: 100%;
		max-width: 100%;
		height: 800px;
		background: none;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		z-index: 1;
		grid-template-areas: "stack";
		object-fit: cover;

		.left {
			display: flex;
			flex-direction: column;
			position: relative;
			gap: 20px;
			padding: 0;
			justify-content: start;
			align-items: start;
			margin: 0;
			text-align: left;
		}
	}

	.wav {
		width: 100%;
		height: auto;
		grid-area: stack;
		animation: parallax linear;
		animation-timeline: scroll();
	}

	.wav > * {
		animation: waveAnimation 0.4s ease;
	}

	.waves {
		height: 100%;
		display: grid;
	}

	.base-wave,
	.primary-wave,
	.secondary-wave,
	.tertiary-wave {
		display: block;
	}

	.tertiary-wave {
		z-index: 2;
		position: absolute;
		bottom: 0;
		--parallax-speed: -3;
	}
	.secondary-wave {
		z-index: 3;
		position: absolute;
		bottom: 0;
		--parallax-speed: -2;
	}
	.primary-wave {
		z-index: 4;
		position: absolute;
		bottom: 0;
		--parallax-speed: -1;
	}

	.base-wave {
		z-index: 5;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: auto;
		line-height: 0;
		margin-bottom: -1px;
		--parallax-speed: 0;
	}

	.center {
		display: flex;
		flex-direction: row;
		z-index: 20;
		gap: 80px;
		align-items: start;
	}

	.main-text {
		align-items: center;
	}

	.main .right {
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: center;
		margin: 0;
	}

	.main .icon-container {
		height: 100%;
	}

	.main .icon {
		width: 30vw;
		max-width: 220px;
		height: auto;
		max-height: 50vh;
		animation: fade 0.2s;
		-webkit-animation: fade 0.2s;
	}

	.stats {
		display: flex;
		flex-direction: row;
		padding: 80px 0;
		gap: 50px;
	}

	.stats .left {
		text-align: end;
		flex-direction: column;
		padding: 0;
	}

	.stats .right {
		height: fit-content;
		padding: 0;
		text-align: start;
	}
	.glance {
		padding: 80px 0;
		text-align: start;
		gap: 80px;
	}

	.unpack {
		padding: 80px 0;
	}

	.star {
		height: 60px;
	}

	.courses {
		padding: 80px 0;
	}

	.courses-text {
		padding: 0 80px;
	}
	.course-cards {
		padding-left: 80px;
		scroll-snap-type: none;
		animation: cardsAppearLeft linear;
		animation-timeline: view();
		animation-range: 0% 100%;
		overflow-x: visible;
	}

	.course-cards:nth-child(1) {
		--text-speed: 0.5;
	}

	.course-cards:nth-child(2) {
		--text-speed: 1;
	}

	.course-cards:nth-child(3) {
		--text-speed: 1.5;
	}

	.course-cards:nth-child(4) {
		--text-speed: 2;
	}

	.professors {
		align-items: end;
		padding: 80px 0;
	}
	.professors-text {
		justify-content: end;
		text-align: end;
		padding: 0 80px;
		max-width: 60%;
	}

	.professor-cards {
		padding-right: 80px;
		animation: cardsAppearRight linear;
		animation-timeline: view();
		animation-range: 0% 100%;
		overflow-x: auto;
		white-space: nowrap;
	}

	.professor-cards:nth-child(1) {
		--text-speed: -0.5;
	}

	.professor-cards:nth-child(2) {
		--text-speed: -1;
	}

	.professor-cards:nth-child(3) {
		--text-speed: -1.5;
	}

	.professor-cards:nth-child(4) {
		--text-speed: -2;
	}

	.faq {
		padding-bottom: 80px;
	}
	.faq-container {
		padding-top: 80px;
	}
	.faq-bg {
		display: flex;
		position: absolute;
		width: 100%;
	}

	.faq-left {
		position: absolute;
		top: 100px;
		max-width: 40%;
	}

	.faq-right {
		position: absolute;
		top: 300px;
		right: 0;
		max-width: 40%;
	}

	.cards {
		padding: 0 40px;
		z-index: 5;
	}
	.card {
		padding: 50px 40px;
		border-radius: 0 60px 60px 60px;
	}
	.school {
		padding: 80px 0;
	}
	@keyframes waveAnimation {
		0% {
			opacity: 0;
			transform: translateY(calc(var(--parallax-speed) * 20px));
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.footer-wave {
	display: block;
	width: 100%;
	animation: midWave linear;
	animation-timeline: view();
	animation-range: entry;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes expand {
	from {
		translate: -100% 0;
		transform-origin: left;
	}
	to {
		translate: 0;
		transform-origin: left;
	}
}

@keyframes midWave {
	from {
		transform: scaleY(0);
		transform-origin: top;
	}
	to {
		transform: scaleY(1);
		transform-origin: top;
	}
}

@keyframes textAppear {
	from {
		opacity: 0.25;
		transform: translateY(calc(var(--text-speed) * 200px));
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes textAppearSide {
	from {
		opacity: 0.25;
		transform: translateX(calc(var(--text-speed) * 200px));
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes cardsAppear {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(var(--text-speed) * -200px));
	}
}

@keyframes cardsAppearLeft {
	from {
		translate: 0;
		transform-origin: left;
	}
	to {
		translate: -20%;
		transform-origin: right;
	}
}

@keyframes cardsAppearRight {
	from {
		translate: 0;
		transform-origin: right;
	}
	to {
		translate: 20%;
		transform-origin: right;
	}
}

@keyframes parallax {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(calc(var(--parallax-speed) * 500px));
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (prefers-color-scheme: dark) {
	.card {
		background: linear-gradient(180deg, #12263a 0%, rgba(18, 38, 58, 0.5) 100%);
	}

	.courses,
	.professors {
		background-color: #12263a;
	}

	.splash-start,
	.splash-end {
		fill: #12263a;
	}

	.base-wave path {
		fill: hsl(207, 43%, 4%);
	}
}
